html {
  font-size: 10px;
}

body {
}


* {
  
  /*box-sizing: border-box;*/
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main-page {
  width: 100%;

}

.nav-bar {
  width: 100%;
  height: 64px;
  box-sizing: border-box;
}

.evidence-number {
  z-index: 100;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 32px;
  font-weight: 800;
  position: absolute;
  text-align: right;
  vertical-align: top;
}

.nav-left-bar {
  width: 70%;
  height: 100%;
  padding: 8px 0px 8px 16px;
  font-size: 24px;
}

.nav-right-bar {
  width: 30%;
}

.pdf-view-container {
  width: calc(70% - 4px);
  height: calc(100% - 2px);
  border: 1px solid #000000;
}

.control-container {
  width: calc(30% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #000000;
}

